<p>festival works!</p>


<button *ngIf="amIModerator()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#FestivalModal"> Add A Festival</button>



<div *ngIf="!singleDataFlag">



<table>
    <tr *ngFor="let festival of Festivals">
        <td><img [src]="makeMyUrlSafe(festival.photo)"></td>
        <td> <a routerLink="/Festivals/{{festival.id}}"> {{festival.name}}</a></td>
    </tr>
</table>
</div>

<div *ngIf="singleDataFlag" class="center-div">

    <table class="center-table">
        <tr>
            <td><img [src]="makeMyUrlSafe(singleFestival.photo)"></td>
            <td><h3>{{singleFestival.name}}</h3></td>
        </tr>
        <tr>
            <td colspan="2"> {{singleFestival.description}} </td>
        </tr>
    </table>

    <button (click)="setFestivalId(singleFestival.id)" data-toggle="modal" data-target="#HoldingModal" *ngIf="amIModerator()">Add Holding</button>

    <h6 *ngIf="singleFestival.holdings.length > 0"> Holdings </h6>
<hr >
    <div *ngIf="singleFestival.holdings.length > 0" class="center-div">
        <div *ngFor="let holding of singleFestival.holdings">
            <table class="center-table">
            <tr>
                    <td colspan="2"> {{holding.name}}</td>
            </tr>
            <tr>
                <td><p>{{holding.city}}</p></td>  <td><p>{{holding.year}}</p></td>
            </tr>
            
             </table>
            <h6 *ngIf="holding.roleAwards.length > 0">Role awards</h6>
            <div *ngFor="let ra of holding.roleAwards" class="center-div">

                <p>{{ra.name}}</p>
                <table *ngFor="let role of ra.roles" class="center-table">
                <tr>
                    <td rowspan="4"><img [src]="makeMyUrlSafe(role.actor.photo)"></td>
                    <td><a routerLink="/Actors/{{role.actor.id}}">{{role.actor.fname}} {{role.actor.lname}}</a></td>
                    <td rowspan="4"> <img [src]="makeMyUrlSafe(role.movie.photo)"></td>
                </tr>
                <tr>
                    <td>
                        AS
                    </td>
                </tr>
                <tr>
                    <td><p>{{role.fName}} {{role.lName}}</p></td>
                </tr>
                <tr>
                    <td > <p> In The Movie: <a routerLink="/Movies/{{role.movie.id}}">{{role.movie.title}}</a></p></td>
                </tr>
                 </table>
            </div>
            <h6 *ngIf="holding.movieAwards.length > 0">Movie awards</h6>
            <div *ngFor="let ma of holding.movieAwards">
                <p>{{ma.name}}</p>
                <table *ngFor="let movie of ma.movies" class="center-table">
                    <tr>
                        <td><img [src]="makeMyUrlSafe(movie.photo)"></td>
                        <td><a routerLink="/Movies/{{movie.id}}">{{movie.title}}</a></td>
                    </tr>
                </table>
                
            </div>
            <div *ngFor="let pa of holding.producerAwards">

                <p>{{pa.name}}</p>
                <table *ngFor="let producing of pa.producings" class="center-table">
                <tr>
                    <td rowspan="3"><img [src]="makeMyUrlSafe(producing.producer.photo)"></td>
                    <td><a routerLink="/Producers/{{producing.producer.id}}">{{producing.producer.fName}} {{producing.producer.lName}}</a></td>
                    <td rowspan="3"> <img [src]="makeMyUrlSafe(producing.movie.photo)"></td>
                </tr>
                <tr>
                    <td>
                        For the production of:
                    </td>
                </tr>
                <tr>
                    <td><a routerLink="/Movies/{{producing.movie.id}}"><p>{{producing.movie.title}}</p> </a></td>
                </tr>
                 </table>
            </div>
            <button (click)="setHoldingId(holding.id)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#AwardModal" *ngIf="amIModerator()">Add Award</button>
        </div>
    </div>
</div>




 
  <div class="modal fade" id="FestivalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Please enter your registration credentials</p>
  
          <form [formGroup]="festivalForm">

            <label for="fName">Festival name: </label>
            <input type="text" #fName formControlName="name" ><br>
            <label for="lName">Festival Description </label>
            <input type="text" #lName  formControlName="description"><br>
          
            <label for="aPhoto">Festival Photo: </label>
            <input type="text" #aPhoto  formControlName="photo"><br>
           
            
          </form>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" (click)="addFestival()" >Registration</button>
        </div>
      </div>
    </div>
 </div>




    <div class="modal fade" id="HoldingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Please enter your registration credentials</p>
      
              <form [formGroup]="holdingForm">
    
                <label for="fName">Holding name: </label>
                <input type="text" #fName formControlName="name" ><br>
                <label for="lName">Holding City </label>
                <input type="text" #lName  formControlName="city"><br>
              
                <label for="aPhoto">Holding Year: </label>
                <input type="number" #aPhoto  formControlName="year"><br>
               
                
              </form>
            </div>
            <div class="modal-footer">
              
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="addHolding()" >Registration</button>
            </div>
          </div>
        </div>
    </div>




    
  <div class="modal fade" id="AwardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Please enter your Award credentials</p>
          
          <label>Award Type</label>
          <select [(ngModel)]="awardType">
            <option>Role Award</option>
            <option>Movie Award</option>
            <option>Producing Award</option>
          </select>
         <hr>
          <form *ngIf="awardType == ('Movie Award')" [formGroup]="movieForm" (ngSubmit)="addMovieAward()">
            <label>Award Name</label>
            <input type="text" #anm required formControlName="awardName"><br>
            <label>Recieving Movie:</label>
            <select  name="movieId"  formControlName="movieId">
              <option *ngFor="let movie of Movies" [value]="movie.id">
                
                  {{movie.title}}
              </option>
           </select>
           <br>
           <button type="submit"> Submit Movie Award</button>
           <br>
          </form>
          <form *ngIf="awardType == ('Role Award')" [formGroup]="roleForm" (ngSubmit)="addRoleAward()">
            <label>Award Name</label>
            <input type="text" #anr required formControlName="awardName" ><br>
            <label>Recieving Role:</label>
            <select  name="roleId" formControlName="roleId">
              <option *ngFor="let role of Roles" [value]="role.id" >
                
                  {{role.actor.fname}} {{role.actor.lname}} -- AS -- {{role.fName}} {{role.lName}}   
              </option>
           </select>
           <br>
           <button type="submit"> Submit Role Award</button>
           <br>
          </form>
          <form *ngIf="awardType == ('Producing Award')" [formGroup]="producingForm" (ngSubmit)="addProducingAward()">
            <label>Award Name</label>
            <input type="text" #anp required formControlName="awardName"><br>
            <select  name="producingId" formControlName="producingIndex">
              <label>Recieving Producing:</label>
              <option *ngFor="let producing of Producings; index as i" [value]="i">
                
                  {{producing.producer.fName}} {{producing.producer.lName}} -- FOR THE PRODUCTION OF -- {{producing.movie.title}} 
              </option>
           </select>
           <br>
           <button type="submit"> Submit Producing Award</button>
           <br>
          </form>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
      </div>
    </div>
 </div>