<head> 
   </head>


<nav>
  <button class="btn btn-secondary" routerLink="Actors">Actors</button>
  <button class="btn btn-secondary" routerLink="Movies">Movies</button>
  <button class="btn btn-secondary" routerLink="Producers"> Producers</button>
  <button class="btn btn-secondary" routerLink="Festivals">Festivals</button>
  <button class="btn btn-secondary" routerLink="Series">Series</button>
  <button class="btn btn-secondary" routerLink="Studios">Studios</button>

  
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal" *ngIf="!loggedIn">
      Login
    </button>
    <button type="button" class="btn btn-primary" (click)="logOut()" *ngIf="loggedIn">
      Log Out
    </button>
    
      <!-- Button trigger modal -->

    
    
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#RegisterModal" *ngIf="!loggedIn">
      Register
    </button>
 

    <button type="button" class="btn btn-primary"  *ngIf="loggedIn && amIAdmin()">
      Add Moderator
    </button>

    <button type="button" class="btn btn-primary"  *ngIf="loggedIn && amIGeneral()" (click)="showMyProfile()">
      My Profile
    </button>

    <button type="button" class="btn btn-primary"  *ngIf="loggedIn && amIModerator()" routerLink="AddMovie">
      Add Movie
    </button>

    <button type="button" class="btn btn-primary"  *ngIf="loggedIn && amIAdmin()" routerLink="Users">
      Users
    </button>

</nav>




<router-outlet></router-outlet>
<!-- LOGINModal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Please enter your credentials</p>
  
          <form [formGroup]="loginForm">
            <label>Username: </label>
            <input type="text" #User formControlName="Username"><br>
            <label>Password: </label>
            <input type="password" #pass name="password" formControlName="Password"><br>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="login()">Login</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- RegisterModal -->
  <div class="modal fade" id="RegisterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Please enter your registration credentials</p>
  
          <form [formGroup]="registerForm">
            <label for="Username">Username: </label>
            <input type="text" #Username formControlName="Username"><br>
            <label for="Password">Password: </label>
            <input type="password" #Password formControlName="Password"><br>
            <label for="mail">Email: </label>
            <input type="email" #mail formControlName="EMail"><br>
            <label for="fname">First Name: </label>
            <input type="text" #fname formControlName="FName" ><br>
            <label for="Lname">Last Name: </label>
            <input type="text" #Lname  formControlName="LName"><br>
            <label for="Bio">Your Bio: </label>
            <input type="text" #Bio  formControlName="Bio"><br>
            <label for="UPhoto">Your Photo: </label>
            <input type="file" #UPhoto  formControlName="UPhoto"><br>
          
            <label>What type of user do you want to be?</label>
            <select #type formControlName="UType">
                <option>General</option>
                <option>Moderator</option>
                <option>Admin</option>
            </select>
          </form>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="register()">Registration</button>
        </div>
      </div>
    </div>
  </div>
  

 