<p>user works!</p>
<div *ngIf="!singleDataFlag">
<table>
    <tr *ngFor="let user of Users; index as i">
        <td> <img [src]="makeMyUrlSafe(user.uPhoto)" alt="user.Username"></td>
        <td><p>{{user.username}}</p></td>
        <td *ngIf="amIAdmin()"><button (click)="removeUser(user.id, i)">Remove User</button></td>
    </tr>
</table>
</div>
<div *ngIf="singleDataFlag">

    <table class="center-table">
        <tr >
            <td rowspan="2"> <img [src]="makeMyUrlSafe(UserToDisplay.uPhoto)">  </td>
            <td ><p>{{UserToDisplay.username}}</p></td>
            
            
        </tr>
        <tr>
            <td><p>{{UserToDisplay.fName}} {{UserToDisplay.lName}}</p></td>
        </tr>
        <tr>
            <td colspan="2"> {{UserToDisplay.bio}}</td>
        </tr>
    </table>
    <button> Update my profile </button>
    <table *ngIf="loggedInFlag">
    <tr  *ngFor="let notification of UserToDisplay.notifies" >
        <td *ngIf="!notification.seen">
            <a routerLink="/Awards/{{notification.awardId}}" (click)="updateNotify(notification.notificationId)"> {{notification.description}}</a>
        </td>
    </tr>
    </table>
    
    <h6 *ngIf="UserToDisplay.favActors.length > 0"> Favorite Actors</h6>
    <table>
        <tr *ngFor="let actor of UserToDisplay.favActors">
            <td> <img [src]="makeMyUrlSafe(actor.photo)"></td>
            <td><a routerLink="/Actors/{{actor.id}}"> {{actor.fname}} {{actor.lname}}</a></td>
        </tr>
    </table>
    
    <h6 *ngIf="UserToDisplay.favProducers.length > 0"> Favorite Producers</h6>
    <table>
        <tr *ngFor="let producer of UserToDisplay.favProducers">
            <td> <img [src]="makeMyUrlSafe(producer.photo)"></td>
            <td><a routerLink="/Producers/{{producer.id}}"> {{producer.fName}} {{producer.lName}}</a></td>
        </tr>
    </table>
    
    <h6 *ngIf="UserToDisplay.favMovies.length > 0"> Favorite Movies</h6>
    <table>
        <tr *ngFor="let movie of UserToDisplay.favMovies">
            <td> <img [src]="makeMyUrlSafe(movie.photo)"></td>
            <td><a routerLink="/Movies/{{movie.id}}"> {{movie.title}}</a></td>
        </tr>
    </table>
    
    <div *ngIf="UserToDisplay.reviews.length > 0">
        <h6 > Reviews </h6>
        <table *ngFor="let rev of UserToDisplay.reviews" class="center-table" >
            <tr>
                <td rowspan="2" [width]="50" [height]="50"><img  [src]="makeMyUrlSafe(rev.movie.photo)" alt="Reviewer"></td>
                <td>{{rev.movie.title}}</td> <td class="center-cell"> <p>{{gimmeDate(rev.revTime).getDay()}}/{{gimmeDate(rev.revTime).getMonth()}}/{{gimmeDate(rev.revTime).getFullYear()}} </p></td>
            </tr>
            <tr>
                <td colspan="2"><p> {{rev.grade}}/5 </p></td>
            </tr>
            <tr>
                <td colspan="3"> {{rev.description}}</td>
            </tr>
        </table>
    </div>
    
    <h6 *ngIf="UserToDisplay.watchList.movies.length > 0">Watchlist</h6>
    <table>
        <tr *ngFor="let movie of UserToDisplay.watchList.movies">
            <td><img [src]="makeMyUrlSafe(movie.photo)"></td><td><a routerLink="/Movies/{{movie.id}}">{{movie.title}}</a></td>
        </tr>
    </table>


</div>
