<p>award works!</p>
<div *ngIf="!singleDataFlag">

<div *ngFor="let award of Awards">
    <div *ngIf="award.awardType == 'Role'">
        <p>{{award.roleAward.name}}/p>
        <table *ngFor="let role of award.roleAward.roles" class="center-table">
        <tr>
            <td rowspan="4"><img [src]="makeMyUrlSafe(role.actor.photo)"></td>
            <td><a routerLink="/Actors/{{role.actor.id}}">{{role.actor.fname}} {{role.actor.lname}}</a></td>
            <td rowspan="4"> <img [src]="makeMyUrlSafe(role.movie.photo)"></td>
        </tr>
        <tr>
            <td>
                AS
            </td>
        </tr>
        <tr>
            <td><p>{{role.fName}} {{role.lName}}</p></td>
        </tr>
        <tr>
            <td > <p> In The Movie: <a routerLink="/Movies/{{role.movie.id}}">{{role.movie.title}}</a></p></td>
        </tr>
         </table>
    </div>
    <div *ngIf="award.awardType == 'Movie'">
        <p>{{award.movieAward.name}}</p>
        <table *ngFor="let movie of award.movieAward.movies" class="center-table">
            <tr>
                <td><img [src]="makeMyUrlSafe(movie.photo)"></td>
                <td><a routerLink="/Movies/{{movie.id}}">{{movie.title}}</a></td>
            </tr>
        </table>
    </div>
    <div *ngIf="award.awardType == 'Producer'">
        <p>{{award.producerAward.name}}</p>
        <table *ngFor="let producing of award.producerAward.producings" class="center-table">
        <tr>
            <td rowspan="3"><img [src]="makeMyUrlSafe(producing.producer.photo)"></td>
            <td><a routerLink="/Producers/{{producing.producer.id}}">{{producing.producer.fName}} {{producing.producer.lName}}</a></td>
            <td rowspan="3"> <img [src]="makeMyUrlSafe(producing.movie.photo)"></td>
        </tr>
        <tr>
            <td>
                For the production of:
            </td>
        </tr>
        <tr>
            <td><a routerLink="/Movies/{{producing.movie.id}}"><p>{{producing.movie.title}}</p> </a></td>
        </tr>
         </table>
    </div>

</div>

</div>
<div *ngIf="singleDataFlag">

    <div *ngIf="singleAward.awardType == 'Role'">
        <p>{{singleAward.roleAward.name}}/p>
        <table *ngFor="let role of singleAward.roleAward.roles" class="center-table">
        <tr>
            <td rowspan="4"><img [src]="makeMyUrlSafe(role.actor.photo)"></td>
            <td><a routerLink="/Actors/{{role.actor.id}}">{{role.actor.fname}} {{role.actor.lname}}</a></td>
            <td rowspan="4"> <img [src]="makeMyUrlSafe(role.movie.photo)"></td>
        </tr>
        <tr>
            <td>
                AS
            </td>
        </tr>
        <tr>
            <td><p>{{role.fName}} {{role.lName}}</p></td>
        </tr>
        <tr>
            <td > <p> In The Movie: <a routerLink="/Movies/{{role.movie.id}}">{{role.movie.title}}</a></p></td>
        </tr>
         </table>
    </div>
    <div *ngIf="singleAward.awardType == 'Movie'">
        <p>{{singleAward.movieAward.name}}</p>
        <table *ngFor="let movie of singleAward.movieAward.movies" class="center-table">
            <tr>
                <td><img [src]="makeMyUrlSafe(movie.photo)"></td>
                <td><a routerLink="/Movies/{{movie.id}}">{{movie.title}}</a></td>
            </tr>
        </table>
    </div>
    <div *ngIf="singleAward.awardType == 'Producer'">
        <p>{{singleAward.producerAward.name}}</p>
        <table *ngFor="let producing of singleAward.producerAward.producings" class="center-table">
        <tr>
            <td rowspan="3"><img [src]="makeMyUrlSafe(producing.producer.photo)"></td>
            <td><a routerLink="/Producers/{{producing.producer.id}}">{{producing.producer.fName}} {{producing.producer.lName}}</a></td>
            <td rowspan="3"> <img [src]="makeMyUrlSafe(producing.movie.photo)"></td>
        </tr>
        <tr>
            <td>
                For the production of:
            </td>
        </tr>
        <tr>
            <td><a routerLink="/Movies/{{producing.movie.id}}"><p>{{producing.movie.title}}</p> </a></td>
        </tr>
         </table>
    </div>


</div>