<p>studio works!</p>

<button *ngIf="amIModerator()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#StudioModal"> Add A Studio</button>


<div *ngIf="!singleDataFlag">
    <table  *ngFor="let studio of Studios" class="center-table">
        <tr>
            <td ><img [src]="makeMyUrlSafe(studio.photo)"></td>
            <td><a routerLink="/Studios/{{studio.id}}">{{studio.name}}</a></td>
            </tr>
            <tr>
            <td colspan="2"><ul>
                <li *ngFor="let movie of studio.movies">
                    <a routerLink="/Movies/{{movie.id}}">{{movie.title}}</a>
                </li>
            </ul></td>
        </tr>
    </table>
    </div>
    <div *ngIf="singleDataFlag">
    
        <table>
            <tr><td>
                <img [src]="makeMyUrlSafe(singleStudio.photo)">
            </td></tr>
            <tr>
                <td><h4>{{singleStudio.name}}</h4></td>
            </tr>
            <tr>
                <td><p>{{singleStudio.description}}</p></td>
            </tr>
        </table>>
    
        <ul>
            <li *ngFor="let movie of singleStudio.movies"> <a routerLink="/Movies/{{movie.id}}">{{movie.title}}</a></li>
        </ul>
    
    </div>



     <!-- ActorModal -->
  <div class="modal fade" id="StudioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Please enter your producers data</p>
  
          <form *(ngSubmit)="onSubmit()" enctype="multipart/form-data">

            <label for="fName">Studio Name: </label>
            <input type="text" #fName  [(ngModel)]="studioToAdd.name" name="studioName" required><br>
            <label for="lName">Studio Description : </label>
            <input type="text" #lName [(ngModel)]="studioToAdd.description" name="studioDescription" required><br>
            
            <label for="aPhoto">Studio Photo: </label>
            <input type="file" #aPhoto (change)="onPhotoChange($event)" required><br>
          
            
          </form>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add Studio</button>
        </div>
      </div>
    </div>
    </div>