<p>movie works!</p>
<div *ngIf="!singleDataFlag" >
<table class="center-table">
    <tr *ngFor="let movie of Movies">
        <td><img [src]="makeMyUrlSafe(movie.photo)"></td>
        <td><a routerLink="/Movies/{{movie.id}}">{{movie.title}}</a></td>
        <td><p>{{movie.revGrade}}/5 </p></td>
    </tr>
</table>
</div>

<div *ngIf="singleDataFlag">
    <table *ngIf="singleMovie" class="center-table">
        <tr>
        <td rowspan="5"><img [src]="makeMyUrlSafe(singleMovie.photo)"> </td>
        <td> <p>{{singleMovie.title}} </p></td>
        </tr>
        <tr>
            <td><p> Date of Release: {{gimmeDate(singleMovie.dateOfRelease).getDay()}}/{{gimmeDate(singleMovie.dateOfRelease).getMonth()}}/{{gimmeDate(singleMovie.dateOfRelease).getFullYear()}}</p></td>
    
        </tr>
        <tr>
            <td><p>Description: {{singleMovie.description}}</p></td>
        </tr>
        <tr>
            <td> <p> Review Grade: {{singleMovie.revGrade}}/5</p></td>
        </tr>
        <tr *ngIf="singleMovie.series">
            <td> <p> Series : {{singleMovie.series.fName}}</p></td>
        </tr>
    </table>


   


    <h5>Producers:</h5>
    <table class="center-table">
        <tr *ngFor="let producing of singleMovie.producings">
            <td><img [src]="makeMyUrlSafe(producing.producer.photo)"> </td>
            <td>{{producing.producer.fName}} {{producing.producer.lName}}</td>
        </tr>
    </table>

    <h5>Roles</h5>
    <table *ngFor="let role of singleMovie.roles" class="center-table">
        <tr >
            <td rowspan="3"><img [src]="makeMyUrlSafe(role.actor.photo)"> </td>
            <td>{{role.actor.fname}} {{role.actor.lname}}</td>
        </tr>
        <tr>
            <td><p>AS</p></td>
        </tr>
        <tr>
            <td>{{role.fName}} {{role.lName}}</td>
        </tr>
    </table>

    <h6 *ngIf="singleMovie.movieAwards.length > 0"> Awards</h6>
    <table>
        <tr *ngFor="let award of singleMovie.movieAwards">
            <td>
                <a routerLink="/Awards/{{award.id}}">{{award.name}}</a>
            </td>
        </tr>
    </table>


    <div *ngIf="singleMovie.reviews.length > 0">
    <h6 > Reviews </h6>
    <table *ngFor="let rev of singleMovie.reviews" class="center-table" >
        <tr>
            <td rowspan="2" [width]="50" [height]="50"><img  [src]="makeMyUrlSafe(rev.reviewer.uPhoto)" alt="Reviewer"></td>
            <td>{{rev.reviewer.username}}</td> <td class="center-cell"> <p>{{gimmeDate(rev.revTime).getDay()}}/{{gimmeDate(rev.revTime).getMonth()}}/{{gimmeDate(rev.revTime).getFullYear()}} </p></td>
        </tr>
        <tr>
            <td colspan="2"><p> {{rev.grade}}/5 </p></td>
        </tr>
        <tr>
            <td colspan="3"> {{rev.description}}</td>
        </tr>
    </table>
    </div>

    <button *ngIf="amIGeneral() " (click)="favoriseMovie(singleMovie.id)" type="button" class="btn btn-primary"> Add Actor to Favorites</button>
    <button *ngIf="amIGeneral()"  type="button" class="btn btn-primary" data-toggle="modal" data-target="#ReviewModal"> Leave a Review</button>
</div>






<div class="modal fade" id="ReviewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="reviewForm" (ngSubmit)="leaveAReview()">
        <div class="modal-body">
          <p>Please enter your registration credentials</p>
  
          
            <label>Review Text:</label>
            <input type="text" formControlName="description"><br>
            <label>Review Grade (1-5) :</label>
            <input type="number" formControlName="revGrade"><br>
           
          
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="reviewForm.invalid">Leave Review</button>
        </div>
    </form>
      </div>
    </div>
    </div>