<p>actor works!</p>

<button *ngIf="amIModerator()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ActorModal"> Add An Actor</button>


<table *ngIf="!singleDataFlag">
    <tr *ngFor="let actor of Actors">
        <td> <img [src]="makeMyUrlSafe(actor.aPhoto)">  </td>
        <td><a routerLink="/Actors/{{actor.id}}">{{actor.fName}} {{actor.lName}}</a></td>
        
        
    </tr>
</table>

<div *ngIf="singleDataFlag">
<table>
    <tr>
    <td rowspan="3"><img [src]="makeMyUrlSafe(singleActor.aPhoto)"> </td>
    <td> <p>{{singleActor.fName}} {{singleActor.lName}} </p></td>
    </tr>
    <tr>
        <td><p> Date of birth: {{singleActor.doB}}</p></td>

    </tr>
    <tr>
        <td><p>Biography: {{singleActor.bio}}</p></td>
    </tr>
</table>

<h6 *ngIf="awardList.length > 0"> Awards</h6>
<table>
    <tr *ngFor="let award of awardList">
        <td>
            <a routerLink="/Awards/{{award.id}}">{{award.name}}</a>
        </td>
    </tr>
</table>

<div *ngIf="singleActor.roles.length > 0">
  <h6>Movie Roles:</h6>
  <table *ngFor="let role of singleActor.roles">
      <tr >
          <td><img [src]="makeMyUrlSafe(role.movie.photo)"></td>
          <td><a routerLink="/Movies/{{role.movie.id}}">{{role.movie.title}}</a></td>
      </tr>
      <tr *ngFor="let award of role.roleAwards">
          <td colspan="2"><p>This Role recieved an award : <a routerLink="/Awards/{{award.id}}"> {{award.name}}</a></p></td>
      </tr>
  </table>

  <button *ngIf="amIGeneral()" (click)="favoriseActor(singleActor.id)"> Add Actor to Favorites</button>
</div>


</div>




  <!-- ActorModal -->
  <div class="modal fade" id="ActorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Please enter your registration credentials</p>
  
          <form [formGroup]="actorForm">

            <label for="fName">First Name: </label>
            <input type="text" #fName formControlName="fName" ><br>
            <label for="lName">Last Name: </label>
            <input type="text" #lName  formControlName="lName"><br>
            <label for="Bio">Actors Bio: </label>
            <input type="text" #Bio  formControlName="bio"><br>
            <label for="aPhoto">Actors Photo: </label>
            <input type="text" #aPhoto  formControlName="aPhoto"><br>
            <label>  Actors Date of birth</label>
            <input type="date" formControlName="doB">
            
          </form>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addActor()" >Registration</button>
        </div>
      </div>
    </div>
    </div>