<p>producer works!</p>

<button *ngIf="amIModerator()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ProducerModal"> Add A Producer</button>


<div *ngIf="!singleDataFlag">
<table>
    <tr *ngFor="let producer of Producers">
        <td> <img [src]="makeMyUrlSafe(producer.photo)">  </td>
        <td><a routerLink="/Producers/{{producer.id}}">{{producer.fName}} {{producer.lName}} </a>   </td>
</tr>
</table>
</div>
<div *ngIf="singleDataFlag">
    <table>
        <tr>
        <td rowspan="3"><img [src]="makeMyUrlSafe(singleProducer.photo)"> </td>
        <td> <p>{{singleProducer.fName}} {{singleProducer.lName}} </p></td>
        </tr>
        <tr>
            <td><p> Date of birth: {{singleProducer.doB}}</p></td>
    
        </tr>
        <tr>
            <td><p>Biography: {{singleProducer.bio}}</p></td>
        </tr>
    </table>

    <h6 *ngIf="awardList.length > 0"> Awards </h6>
    <table>
        <tr *ngFor="let award of awardList">
            <td><a routerLink="/Awards/{{award.id}}">{{award.name}}</a></td>
        </tr>
    </table>
    <div *ngIf="singleProducer.producings.length > 0">
        <h6>Movie producings:</h6>
        <table *ngFor="let producing of singleProducer.producings">
            <tr >
                <td><img [src]="makeMyUrlSafe(producing.movie.photo)"></td>
                <td><a routerLink="/Movies/{{producing.movie.id}}">{{producing.movie.title}}</a></td>
            </tr>
            <tr *ngFor="let award of producing.producingAwards">
                <td colspan="2"><p>This producing recieved an award : <a routerLink="/Awards/{{award.id}}"> {{award.name}}</a></p></td>
            </tr>
        </table>
    </div>
    <button *ngIf="amIGeneral()" (click)="favoriseProducer(singleProducer.id)"> Add Actor to Favorites</button>
</div>



  <!-- ActorModal -->
  <div class="modal fade" id="ProducerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Please enter your producers data</p>
  
          <form [formGroup]="producerForm">

            <label for="fName">First Name: </label>
            <input type="text" #fName formControlName="fName" ><br>
            <label for="lName">Last Name: </label>
            <input type="text" #lName  formControlName="lName"><br>
            <label for="Bio">Producer Bio: </label>
            <input type="text" #Bio  formControlName="bio"><br>
            <label for="aPhoto">Producer Photo: </label>
            <input type="text" #aPhoto  formControlName="photo"><br>
            <label>  Producers Date of birth</label>
            <input type="date" formControlName="doB">
            
          </form>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addProducer()" >Registration</button>
        </div>
      </div>
    </div>
    </div>