
<div *ngIf="!singleDataFlag" class="mainDiv" style="padding-top: 5%;">
  <button *ngIf="amIModerator()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#SeriesModal"> Add A Series</button>
  <div class="searchField"><input style="width: 500px;" class="form-control" placeholder="Search Series" name="searchField" [(ngModel)]="searchField"> <button class="btn btn-secondary" (click)="search()">Search Series</button></div>
 
  <h4 style="text-align: center;"> Series</h4>
  <hr style="border-width: 10px;">
  <div  *ngFor="let series of searchData">
<table  class="center-table"  >
    <tr >
        <td><a routerLink="/Series/{{series.id}}">{{series.fName}}</a></td>
        </tr>
        <tr>
        <td><ul>
            <li *ngFor="let movie of series.movies">
                <a routerLink="/Movies/{{movie.id}}">{{movie.title}}</a>
            </li>
        </ul></td>
    </tr>

</table>
<hr style="border-width: 10px;">
</div>
</div>
<div *ngIf="singleDataFlag" class="mainDiv">

    <h3 style="text-align: center;"> {{singleSeries.fName}}   <button (click)="setSeriesName()" *ngIf="amIModerator()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateSeriesModal"> Update Series Name </button>
 </h3>

 <div class="container" >
    
  <div class="row">
    <div class="col-6 col-md-4 col-lg-3" *ngFor="let movie of singleSeries.movies" style=" margin-top: 5%; margin-bottom: 5%;">
      <div class="card border-info" style="border-style: solid; border-width: 3px;" >
      
        <img class="card-img-top"  [src]="makeMyUrlSafe(movie.photo)" alt="movie photo" routerLink="/Movies/{{movie.id}}">
      <div class="card-body">
        <h6 class="card-title">{{movie.title}}</h6>
        <p class="card-text">{{movie.description}}</p>
      <div class="card-footer">
        <button type="button" class="btn btn-primary" routerLink="/Movies/{{movie.id}}">Details</button>
      </div>
   </div>    
</div>
</div>
</div>
</div>

</div>





     <!-- ActorModal -->
     <div class="modal fade" id="SeriesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form (ngSubmit)="onSubmit()" [formGroup]="seriesForm">
            <div class="modal-body">
              <p>Please enter your Series name</p>
      
             
    
                <label for="fName">Series Name: </label>
                <input class="form-control" type="text" #fName  formControlName="name" name="studioName" required><br>
                
              
                
              
            </div>
            <div class="modal-footer">
              
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" [disabled]="seriesForm.invalid">Add Studio</button>
            </div>
          </form>
          </div>
        </div>
        </div>


        
  <div class="modal fade" id="updateSeriesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form (ngSubmit)="updateSeries()">
        <div class="modal-body">
          <p>Please enter your Award name</p>
  
          <label for="aUPhoto">Series Name : </label>
          <input class="form-control" type="text" name="SeriesName" [(ngModel)]="updateSeriesName">
         

         
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Update Series Name</button>
        </div>
      </form>
      </div>
    </div>
    </div>