.center-table {
    text-align: center;
    justify-self: center;
}

.thumbnail {
    width : 20px;
    height : 20px;
    margin-right: 5px;
    border-radius: 75%;
}
.Bigthumbnail {
    width : 50px;
    height : 50px;
    margin-right: 5px;
    border-radius: 75%;
}